@charset "UTF-8";

/*
    Paleta de cores
    cinza claro: #85A0A6
    cinza médio: #345259
    azul escuro: #0B1E26
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #2e4246;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 480px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.453);

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #2e4246 url(../imagem/imagem-login.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9em;
}

form > div.campo {
    background-color: #345259;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #345259;
}

div.campo > label {
    display: none;
}

div.campo > input.digitar {
    font-size: 1em;
    width: calc(100% - 45px);
    transform: translateY(-11px);
    height: 100%;
    border-radius: 8px;
    background-color: #a1bfcd
}

div.campo > input.digitar:focus {
    background-color: white
}

div.campo > span {
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > input[type = submit] {
    display: block;
    font: 1em;
    width: 100%;
    height: 35px;
    border: none;
    background-color: #0B1E26;
    color: white;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #345259;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    height: 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #345259;
    border-radius: 5px;
    margin-top: 5px;
    padding-bottom: 35px;
}

form > a.botao:hover {
    color: white;
    background-color: #0B1E26;
}

span#mail {
   font-size: 20px;
}